/* Rules */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* /Rules */

/* Page Coordinates */
.site_container{
    background-color: lightgrey;
    width: 70%;
    /* height: 1000px; */
    margin: 20px auto;    
}
/* /Page Coordinates */

/* Header,Logo,Nav */
header{
    height: 125px;
    background-color: white;
}

.logo{
    height: 50px;
}

.menu{
    display: inline-block;
    text-decoration: none;
    color: grey;
    margin-top: 20px;
    margin-left: 0px;
    padding-right: 10px;
}

a{
    text-decoration: none;
    color:grey;
}

a:hover{
    color: darkslategrey;
}
/* /Header,Logo,Nav */

/* Yoga Banner and Text */
.main_banner{    
    height: 400px;
    background-image:linear-gradient(rgba(112, 110, 110, 0.527),rgba(126, 122, 122, 0.5)) , url('img/banner.jpg');
    background-size: cover;
    background-position: 75% 60%;
    border-radius: 1rem ;
    position: relative;
}

.banner_text{
    color: white;
    max-width: 50%;
    position: absolute;
    left: 5%;
    bottom: 25%;
    font-size: 25px;
    line-height: 25px;
}
.banner_subtext{
    color: white;
    max-width: 50% ;
    position: absolute;
    left: 5%;
    bottom: 15%;
}
/* /Yoga Banner and Text */

/* Titles section */
.title{
    height: 120px;
    background-color: white;
    position: relative;
}
.label{
    /* line-height: 25px; */
    padding-top: 25px;
}
.label2{
    color: grey;
    /* padding-bottom: 20px; */
}
/* /Titles section */














.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.column{
    width: 20%;
    height: 300px;
    background-color: yellowgreen;
    float: left;
}

.central{
    width: 60%;
    height: 300px;
    background-color: violet;
    float: left;
}

footer{
    background-color:skyblue;
    height: 100px;
    position: relative;
}
/* 
h4::after{
    content: ' \262E';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 30px;
    color: darkred;    
} */