*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.site_container{
    background-color: lightgrey;
    width: 70%;
    /* height: 1000px; */
    margin: 20px auto;    
}

header{
    height: 150px;
    background-color: skyblue;
}

.main_banner{    
    height: 300px;
    background-color:springgreen ;
    border-radius: 1rem ;
}

.title{
    height: 100px;
    background-color: turquoise;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.column{
    width: 20%;
    height: 300px;
    background-color: yellowgreen;
    float: left;
}

.central{
    width: 60%;
    height: 300px;
    background-color: violet;
    float: left;
}

footer{
    background-color:skyblue;
    height: 100px;
    position: relative;
}

h4::after{
    content: ' \262E';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 30px;
    color: darkred;    
}